{##
 # This file is part of the SilvioMessiSliderBundle package.
 #
 # (c) SilvioMessi <https://github.com/SilvioMessi/SliderBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<div id="slider_{{ options.slider_id }}"></div>
<br>
<div id="slider_value_{{ options.slider_id }}"></div>